<header></header>
<header class="header section" id="home">
  <div class="top-container container">
    <a href="/index.html">
      <svg class="company-logo" width="70" height="48">
        <use href="/images/icons/icons.svg#company-logo"></use>
      </svg>
    </a>

    <nav class="menu-nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="#benefits">Benefits</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
        <li><a class="nav-link" href="#events">Events</a></li>
        <li><a class="nav-link" href="#team">Team</a></li>
        <li><a class="nav-link" href="#feedbacks">Feedbacks</a></li>
      </ul>
    </nav>

    <a href="#register" class="button button-filled button-small">Register</a>

    <button class="icon-button" type="button">
      <svg width="24" height="24">
        <use href="/images/icons/icons.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
