<section class="section hero" id="hero"></section>
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="title hero-title">Unleash Your Creativity in Nature’s Embrace</h1>
      <p class="hero-text">
  Join us for an inspiring plein air drawing workshop where art meets nature. Experience the joy of sketching outdoors while enhancing your skills in light and composition.
</p>
      <div class="hero-buttons">
        <a class="button button-filled" href="#register">Register</a>
        <a class="button button-transparent" href="#gallery">Learn More</a>
      </div>
    </div>
   <img
  class="hero-image"
  src="/images/hero/hero-mobile.jpg"
  alt="House surrounded by leaves and flowers"
/>
  </div>
</section>