<section class="section hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="title hero-title">Unleash Your Creativity in Nature’s Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring outdoor drawing experience. Discover the beauty of nature through art.
      </p>
      <div class="hero-buttons">
        <a class="button button-filled" href="#register">Register</a>
        <a class="button button-transparent" href="#gallery">Learn More</a>
      </div>
    </div>
    <img
      class="hero-image"
      src="../img/hero.png"
      srcset="../img/hero.png 1x, ../img/hero@2x.png 2x"
      width="320"
      alt="House surrounded by leaves and flowers"
      loading="lazy"
    />
  </div>
</section>