<!-- Mobile menu (  is-open ) -->
<div class="mobile-menu is-open" id="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu-top">
      <a href="./index.html">
        <svg class="company-logo" width="70" height="48">
          <use href="/images/icons/icons.svg#company-logo"></use>
        </svg>
      </a>

      <a href="#register" class="button button-filled button-small">Register</a>

      <button class="icon-button" type="button">
        <svg width="24" height="24">
          <use href="/images/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="#benefits">Benefits</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
        <li><a class="nav-link" href="#events">Events</a></li>
        <li><a class="nav-link" href="#team">Team</a></li>
        <li><a class="nav-link" href="#feedbacks">Feedbacks</a></li>
      </ul>
    </nav>
  </div>
</div>
