<!-- TEAM -->
<section class="team section" id="team">
  <div class="container">
    <h2 class="team-title title">Our team</h2>
    <p class="text-team">
      Meet the passionate artists guiding your plein air journey.
    </p>
    <ul class="team-content">
      <li class="team-list">
        <img
          src="/images/team/team-1.png"
          srcset="/images/team/team-1.png 1x, /images/team/team-1@2x.png 2x"
          alt="Emma Caldwell"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Emma Caldwell</h3>
          <p class="team-job">Lead Art Instructor</p>
        </div>
      </li>
      <li class="team-list">
        <img
          src="/images/team/team-2.png"
          srcset="/images/team/team-2.png 1x, /images/team/team-2@2x.png 2x"
          alt="Lina Morales"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Lina Morales</h3>
          <p class="team-job">Creative Workshop Coordinator</p>
        </div>
      </li>
      <li class="team-list">
        <img
          src="/images/team/team-3.png"
          srcset="/images/team/team-3.png 1x, /images/team/team-3@2x.png 2x"
          alt="Owen Fischer"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Owen Fischer</h3>
          <p class="team-job">Materials & Techniques Expert</p>
        </div>
      </li>
      <li class="team-list">
        <img
          src="/images/team/team-4.png"
          srcset="/images/team/team-4.png 1x, /images/team/team-4@2x.png 2x"
          alt="Naomi Lee"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Naomi Lee</h3>
          <p class="team-job">Mindfulness & Sketching Coach</p>
        </div>
      </li>
      <li class="team-list">
        <img
          src="/images/team/team-5.png"
          srcset="/images/team/team-5.png 1x, /images/team/team-5@2x.png 2x"
          alt="Jack Turner"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Jack Turner</h3>
          <p class="team-job">Photographer & Visual Archivist</p>
        </div>
      </li>
      <li class="team-list">
        <img
          src="/images/team/team-6.png"
          srcset="/images/team/team-6.png 1x, /images/team/team-6@2x.png 2x"
          alt="Ben Novak"
          loading="lazy"
        />
        <div class="team-bloc">
          <h3 class="team-name">Ben Novak</h3>
          <p class="team-job">Outdoor Logistics Manager</p>
        </div>
      </li>
    </ul>
  </div>
</section>
