/* MOBILE */

.benefits {
  padding-top: 40px;
  padding-bottom: 40px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  order: 1;
}

.benefits-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  order: 2;
}

.benefits-image {
  display: block;
  width: 100%;
  height: auto;
}

.benefits-title {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.benefits-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.benefits-icon {
  display: block;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.benefits-item > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  gap: 16px;
}

.benefits-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
}

.benefits-item-text {
  margin: 0;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .benefits-title {
    max-width: 450px;
  }
}
.benefits-item > div {
  max-width: 540px;
}
/* DESKTOP */

@media screen and (min-width: 1440px) {
  .benefits {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .benefits-container {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  .benefits-image-wrap {
    width: 616px;
    flex-shrink: 0;
    order: 1;
  }

  .benefits-image {
    width: 616px;
    height: 586px;
    object-fit: contain;
  }

  .benefits-content {
    width: 616px;
    flex-shrink: 0;
    gap: 32px;
    order: 2;
  }

  .benefits-title {
    width: 450px;
    line-height: 48px;
  }

  .benefits-list {
    gap: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .benefits-item-title {
    line-height: 26px;
  }

  .benefits-item-text {
    line-height: 24px;
  }
}
