.container {
  max-width: 375px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1312px;
  }
}
