.hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1;
  text-align: left;
}

.hero-text {
  margin-bottom: 32px;
  font-size: 18px;
  text-align: left;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-buttons .button {
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    max-width: 704px;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 24px;
  }

  .hero-buttons .button {
    width: 159px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .hero-content {
    width: 423px;
    flex-shrink: 0;
  }

  .hero-title {
    font-size: 56px;
    max-width: 423px;
  }

  .hero-container picture {
    width: 857px;
    flex-shrink: 0;
  }

  .hero-image {
    display: block;
    width: 100%;
    height: auto;
  }
}
